@import 'nib'
@import 'global'

article.comment
	padding 1em
	line-height 1.4em
	header
		padding 1em
		background #ccc
		h1
			font-size large
			.title
				display inline-block
				color #111
			.name
				display inline-block
				margin 0 1em
				color #666
		.url, .mail
			a
				a-normal()
	section
		padding 1em
	aside
		font-size smaller
