@import 'nib'
@import 'global'

.comment
	#comment_title
		width 20em
	#comment_name
		width 20em
	#comment_url
		width 20em
	#comment_mail
		width 20em
	#comment_contents
		width 60em
		height 10em
	#comment_password
		width 20em
