@import 'nib'
@import 'global'

.article
	#article_title
		width 30em
	[type="datetime"]
		width 20em
	#article_contents
		width 60em
		height 20em
	#article_tag_list
		width 60em
form
	.article
		.tags
			li
				cursor pointer
