@import 'nib'
@import 'global'

article.dates
	line-height 1.4em
	a
		a-normal-stable()
	.years
		li
			.year
				padding 0.5em
				font-size x-large
				border-bottom 1px solid #ccc
			.months
				padding-left 1em
				li
					.month
						padding 0.5em
						font-size large
						border-bottom 1px solid #ccc
					.days
						padding-left 1em
						li
							.day
								padding 0.5em
								font-size medium
								border-bottom 1px solid #ccc
