@import 'nib'
@import 'global'

button,
input,
select,
textarea
	font-size 100%
	vertical-align middle
textarea
	overflow auto
button,
input
	line-height 1.4em
button,
label,
select,
input[type="button"],
input[type="reset"],
input[type="submit"]
input[type="radio"],
input[type="checkbox"]
	cursor pointer

button,
input[type="button"],
input[type="reset"],
input[type="submit"]
	border none
	margin 0.1em
	padding 0.5em 1em
	color #fff
	background #666

label[for]
	margin 0 0.2em

