a-normal()
	text-decoration none
	&:link
		color #06f
	&:visited
		color #93c
	&:hover, &:visited:hover, &:active, &:focus
		color #39f
a-normal-stable()
	text-decoration none
	&:link, &:visited
		color #06f
	&:hover, &:visited:hover, &:active, &:focus
		color #39f
a-white()
	text-decoration none
	&:link
		color #fff
	&:hover, &:active, &:focus
		color #dff
	&:visited
		color #eee
a-white-stable()
	text-decoration none
	&:link, &:visited
		color #fff
	&:hover, &:visited:hover, &:active, &:focus
		color #dff
a-black()
	text-decoration none
	&:link
		color #111
	&:visited
		color #666
	&:hover, &:visited:hover, &:active, &:focus
		color #999
a-black-stable()
	text-decoration none
	&:link, &:visited
		color #111
	&:hover, &:visited:hover, &:active, &:focus
		color #999

